@import "./variables.scss";

@font-face {
    font-family: 'CustomFont';
    src: local('HelveticaNeue');
}

* {
    font-family: "CustomFont";
    color: $light-gray;
}

html {
    background-color: $dark;
}

body {
    margin: 0;
}
