@import "./variables.scss";

.swiper {
    height: 350px;

    .swiper-slide {
        width: fit-content;
        height: 100%;
    }

    img {
        height: 100%;
        width: auto;
    }
}

header {
    padding: 1.55rem 0;
    background-color :$dark;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}

.container {
    max-width: 1170px;
    margin-left: 22.75%;
    margin-right: 9.75%;

    @media (width < 901px) {
        margin-left: 9%;
        margin-right: 9%;
    }
}

.large-text {
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 3.4375rem;
    letter-spacing: -1px;
    text-align: left;

    @media (width < 901px) {
        font-size: 2.375rem;
        line-height: 2.8125rem;
    }
}

.intro-line {

    padding-top: 10rem;
    padding-bottom: 3.15rem;

    @media (width < 901px) {
        padding-top: 10.45rem;
        padding-bottom: 2.85rem;
    }

    div {
        display: block;
        overflow: visible;
        text-wrap: nowrap;

        @media (width < 901px) {
            text-wrap: balance;
        }
    }
}

.context {

    display: flex;
    flex-direction: column;
    padding-top: 6.65rem;
    gap: 3.75rem;

    @media (width < 901px) {
        padding-top: 5rem;
        gap: 3rem;
    }

    div {
        display: block;
        overflow: visible;
        text-wrap: nowrap;
    }
}

.text-italic {
    font-family: Arial;
    font-style: italic;
}

.content {

    padding: 6.2rem 0 6rem 0;

    @media (width < 901px) {
        padding: 3rem 0 4rem 0;
    }

    .services-row,
    .method-row,
    .contacts-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.925rem;
        letter-spacing: -1px;
        text-align: left;

        @media (width < 631px) {
            flex-direction: column;
            gap: 1.4rem;
            font-size: 1.625rem;
        }

        &-title {
            display: flex;
            flex-direction: column;
            min-width: calc(calc(98.5% - 1rem) / 2);

            @media (width < 1501px) {
                min-width: calc(calc(58.5% - 1rem) / 2);
            }

            @media (width < 631px) {
                min-width: 100%;
                max-width: 100%;
            }

            hr {
                width: 28px;
                margin: 1.2rem 0 0.7rem 0.03rem;
                border-top: 3px solid $light-gray;
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
        }
    
        &-content {
            display: flex;
            flex-direction: column;
            min-width: calc(calc(101.5% - 1rem) / 2);

            @media (width < 1501px) {
                min-width: calc(calc(141.5% - 1rem) / 2);
            }

            @media (width < 631px) {
                min-width: 100%;
                max-width: 100%;
            }

            .schema {
                margin-left: -1.4rem;
                margin-top: 0.2rem;

                @media (width < 901px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 1.7rem;
                    margin-left: 0;
                }
            }
        }
    }

    .method-row {
        margin-top: 6.75rem;

        @media (width < 901px) {
            margin-top: 1.65rem;
        }
    }

    .contacts-row {
        margin-top: 7.75rem;

        @media (width < 901px) {
            margin-top: 1.9rem;
        }

        &-content {
            gap: 0.4rem;
        }

        &-content span {
            color: $gray;
        }

        a {
            color: $orange;
            text-decoration: none;
            letter-spacing: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

footer {

    margin-left: 21%;
    margin-right: 9.05%;

    @media (width < 1101px) {
        margin-left: 0;
        margin-right: 0;
    }

    hr {
        margin: 0;
        border-top: 1px solid $gray;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem 3.2rem 2.5rem 1.9rem;

        @media (width < 1101px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 1.25rem 9% 2.5rem 9%;
        }

        .copyright {
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 1.5125rem;
            color: $gray;
        }
    
        .instagram-button {
    
            font-size: 1.375rem;
            line-height: 1.5125rem;
            text-align: left;
            text-decoration: none;
        
            &:hover {
                animation-timing-function: cubic-bezier(0.7, -0.4, 0.4, 1.4);
                animation-duration: 300ms;
                color: $orange;
            }
        }
    }
}
